.carousel {
  position: relative;
  height: 415px;
  border-radius: 25px;
  margin: 30px;
  .image-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }
  .navigation {
    .fa-chevron-left {
      position: absolute;
      top: 50%;
      left: 2%;
      color: white;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .fa-chevron-right {
      position: absolute;
      top: 50%;
      right: 2%;
      color: white;
      transform: translateY(50%);
      cursor: pointer;
    }
  }
  .image-count {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    height: 255px;
    border-radius: 10px;
    .image-container img {
      border-radius: 10px;
    }
    .image-count {
      display: none;
    }
  }
}
