.grid-logements {
  margin: 30px;
  padding: 50px;
  background-color: $grey;
  border-radius: 25px;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    li {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );

      position: relative;
      height: 340px;
      border-radius: 10px;
      img {
        opacity: 0.7;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
      p {
        padding: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        font-weight: 500;
        z-index: 1000;
      }
    }
  }
}
