.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px auto;
  padding: 0 30px;
  .logo {
    width: 210px;
    height: 68px;
    img {
      width: 100%;
    }
  }
  ul {
    display: flex;
    a {
      text-decoration: none;
      padding: 10px;

      li {
        font-size: 24px;
        font-weight: 500;
        color: $pink;
        cursor: pointer;
      }
    }
    .nav-active {
      text-decoration: underline;
      color: $pink;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navigation {
    margin: 20px auto;
    .logo {
      width: 145px;
      height: 46px;
    }
    ul a li {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 365px) {
  .navigation {
    align-items: center;
    .logo {
      width: 125px;
      height: 26px;
    }
  }
}
